{% extends 'base.html' %}
{% load static %}

{% block main %}

<header class="main-header">
    {% include "sliders/make_sliders.html" %}

</header>

<article class="main-article ">
    <div class="main-article__content text__animation animate-left-to-right">
        <h2 class="main-article__header">To be continued</h2>
        <p class ="text__animation animate-left-to-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis commodi cum,
            doloribus eaque ipsa iste laboriosam libero nam nesciunt obcaecati odio possimus
            provident qui quidem rem repellat rerum sed similique vitae?</p>
    </div>
    <div class="copy">
        ©Web_master
    </div>
</article>



{% endblock %}
