{% extends 'base.html' %}
{% load static %}

{% block main %}

<header class="main-header">
    {% include "sliders/make_sliders.html" %}

</header>

<article class="main-article animate-left-to-right">
    <div class="main-article__content">
        <h2 class="main-article__header">To be continued</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis commodi cum,
            doloribus eaque ipsa iste laboriosam libero nam nesciunt obcaecati odio possimus
            provident qui quidem rem repellat rerum sed similique vitae?</p>
    </div>
    <div class="copy">
        ©Web_master
    </div>
</article>



{% endblock %}
