<div class="layers ">
    <div class="layer__head" style="color: {{ data.dark_mode }}">
        <div class="layer__caption {{ cls }}">
            <h1>{{ data.caption }}</h1>
        </div>
        <div class="layer__title {{ cls }}">
            <a class="button-link" href="{{ data.link }}">{{ data.title }}</a>
        </div>
    </div>
    <div class="layer layer__base" style="background-image: url(media/{{ data.background }});"></div>
    <div class="layer layer__middle" style="background-image: url(media/{{ data.middle }});"></div>
    <div class="layer layer__front" style="background-image: url(media/{{ data.front }});"></div>

</div>

