<div class="layers ">
    <div class="layer__head" style="color: {{ data.dark_mode }}">
        <div class="wrapper-text">
            <div class="layer__caption text__animation {{ cls }}">
                <h1>{{ data.caption }}</h1>
            </div>
            <div class="layer__title text__animation {{ cls }}">
                <a class="button-link" href="{{ data.link }}">{{ data.title }}</a>
            </div>
        </div>
    </div>
    <div class="layer layer__base" style="background-image: url(media/{{ data.background }});"></div>
    <div class="layer layer__middle" style="background-image: url(media/{{ data.middle }});"></div>
    <div class="layer layer__front" style="background-image: url(media/{{ data.front }});"></div>

</div>

